table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.clearfix {
  overflow: hidden;
}

section {
  width: 40%;
  min-height: 200px;
  font-size: 30px;
  padding: 5%;
  text-align: center;
  float: left;
}
